@font-face {
  font-family: RL;
  src: url("../fonts/Raleway Light.ttf");
}

@font-face {
  font-family: RSB;
  src: url("../fonts/Raleway SemiBold.ttf");
}

@font-face {
  font-family: RM;
  src: url("../fonts/Releway Medium.ttf");
}

@font-face {
  font-family: RB;
  src: url("../fonts/Raleway Bold.ttf");
}

@font-face {
  font-family: RR;
  src: url("../fonts/Raleway Regular.ttf");
}

@font-face {
  font-family: OSR;
  src: url("../fonts/OpenSans.ttf");
}

@font-face {
  font-family: OSL;
  src: url("../fonts/Open Sans Light.ttf");
}

@font-face {
  font-family: OSI;
  src: url("../fonts/Open Sans Italic.ttf");
}

@font-face {
  font-family: OSSB;
  src: url("../fonts/Open Sans Semibold.ttf");
}