@import "vars";

$firstLogoLineTextColor: $snow;
$targetBorderBottom: $mediumCarmine;
$dateColor: $mischka;
$articleBorderColor: $solitude;
$buttonColor: $redOrange;
$buttonNumberColor :$raven;
$blockCoverBg: $raven;
$articleCaptionColor: $nightRider;
$footerBg: $nightRider;
$buttonToTopBg :$brightGrey;
$buttonHoverBorder: $mandarianOrange;